@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  html {
    scroll-behavior: smooth;
    /* resize: none; */
  }
}

/* ========================================   home     ============================================= */
section {
  display: block;
}
.home-intro p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  body {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    scroll-behavior: smooth;
    min-width: 1280px;
    height: 100vh;
    line-height: 1.5;
    background-position: fixed;
    position: absolute;
  }
}

@media (min-width: 1281px) {
  body {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    scroll-behavior: smooth;
    height: 100vh;
    min-width: 1280px;
    line-height: 1.5;
    background-position: fixed;
    position: absolute;
  }
}

.home-intro {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header {
  background-color: black;
  margin-top: 25px;
  padding: 15px;
}

#img {
  border-radius: 50%;
}

#profile-wrapper {
  text-align: center;
}
#profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: white;
}
.col-md-9 {
  padding-top: 45px;
}
.column {
  width: 50%;
  padding: 10px;
  height: 300px;
}

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

h3 {
  color: rgb(8, 7, 7);
}
h4 {
  color: rgb(5, 4, 4);
}
span {
  text-decoration: none;
}
a {
  text-decoration: none;
}
div {
  text-decoration: none;
}
.pictures {
  display: table-column;
}

.pic context {
  padding: 30px;
}
.logo img {
  padding: 0px;
  width: 90px;

  height: 45px;
  margin: auto;
}

/*============================== About ============================*/

div.column img {
  border-radius: 50%;
}

.nature {
  align-content: center;
}

/* ===============================  Services   ====================================== */
/* .services-img  {

    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
} */

.row{
  display: flex;
  padding: 35px;
  height: 800px;

  background: rgb(6, 10, 3);
}

div .col-3 img{
  display: grid;
}

/* .col-3{
  flex:0%;
  width: 500px;
  display: grid;
} */
.container {
  padding: 35px;
  width: 500px;
  height: 800px;
  max-width: 1320px;
  margin: 25px;
  background: rgb(6, 10, 3);
  overflow: hidden;
}

h1 {
  text-align: center;
  background: rgb(6, 10, 3);
  margin-top: 15px;
  margin-bottom: 15px;
  height: 65px;
}

.col-3 {
  margin: 10px;
  /* border: 1px solid #ddd;
  float: left;
  width: 900px;
  height: 165px; */
  display: flex;
  /* grid-template-columns: repeat(4, 2fr); */
}

.gallery {
  margin: 10px;
  border: 1px solid #ddd;
  float: left;
  width: 900px;
  height: 165px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

/* .col-3:hover {
  border: 1px solid #777;
} */
.gallery:hover {
  border: 1px solid #777;
}

.col-3 img{
  max-width: 600%;
}

.gallery img {
  justify-content: center;
  max-width: 100%;
}

nav span a {
  justify-content: space-around;
  padding: 15px;
  color: white;
  float: top 1px;
}

#nav {
  position: absolute;
  top: 50px;
  right: 0;
  color: blanchedalmond;
}

.post-wrapper {
  display: block;
  margin-left: auto;
  margin-right: 45px;
  width: 50%;
}

.about {
  background-image: url(/static/css/images/onetouch.jpg);
}
.text-center {
  text-align: center;
  padding: 50px;
}

/*========================== Footer  ==================================  */
.footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #0e0807;
  text-align: center;
}
/* .footer p{
  margin-bottom: 5px;
} */

/*============================== contact ============================*/
.contact-title {
  margin-top: 100px;
  color: rgb(247, 242, 242);
  text-transform: uppercase;
  transition: all 4s ease-in-out;
  /* color: rgb(10, 5, 5); */
  text-align: center;
  padding: 50px;
  background: rgb(7, 10, 4);
}
.contact-title h1 {
  font-size: 32px;
  color: #fff;
  line-height: 10px;
}
.contact-titleh2 {
  font-size: 15px;
  margin-left: 40px;
  height: 65px;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

#contact-form {
  text-align: center;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 18px;
  border-bottom: 1px solid gray;
  margin-bottom: 16px;
  background: rgb(7, 10, 4);
}
/* input .form-control{
  width: 800px;
  margin: 200px;
} */
/* textarea.form-control{
  width: 800px;
  margin: 200px;
} */

form-.submit {
  background: #ff5722;
  border-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: blod;
  letter-spacing: 2px;
  margin-top: 20px;
}

form-.submit:hover {
  background-color: #f44336;
  cursor: pointer;
}
.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: auto;
  margin: 300px;
  background-color: darkgray;
  padding-top: 60px;
  margin-top: 50px;
}
input[type="text"],
[type="email"],
[type="submit"],
textarea#styled {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(116, 30, 30);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(116, 30, 30);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="text"],
[type="email"] {
  /* width: 600px; */
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(116, 30, 30);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background: rgb(10, 14, 6);
  color: rgb(116, 112, 112);
  /* padding: 12px 29px;
  border: none; */
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  padding: 12px;
  border: 1px solid rgb(116, 30, 30);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input.form-control.submit {
  padding-right: 5px;
}
input[type="submit"]:hover {
  background-color: #0c160d;
}

/* =========================   About   =======================  */
.section {
  width: 50%;
  min-height: 100vh;
  /* background-color:red ; */
}
li a {
  float: left;
  width: 30px;
  height: 40px;
  margin: auto;
  color: blue;
}
ul {
  list-style: none;
  margin: 55px;
  text-align: center;
}

div {
  column-gap: 130px;
}

.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.content-section {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  width: 40%;
}

.image-section image {
  width: 100%;
  height: auto;
}

.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}

.content-section .content h3 {
  margin-top: 20px;
  color: #777;
  font-size: 21px;
}

.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.content-section .content .button {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  letter-spacing: 1.5;
}
.social {
  color: white;
}

/* =======================================================   another about ======================================================== */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: right;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  text-align: center;
  color: white;
  margin-top: 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2px;
}

.about-section {
  padding: 50px;
  text-align: center;
  color: white;
  justify-content: center;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(233, 222, 222);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: rgb(226, 215, 215);
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

  .row {
    text-align: center;
    margin: 65px;
  }
  .column {
    float: left;
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 650px) {
  body {
    color: #3f4e40;
  }
}
