{% extends 'base/base.html' %}
{% load static %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

{% block content %}
<div class="about-section">
    <!--<h1>About Us Page</h1>
    <p class="">Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>-->
    <div class="row" style="background-color: rgb(8, 14, 8);">
        <div class="column">
            <img src="{% static './css/images/squirrel.jpg' %}" alt="squirrel">
        </div>
        <div class="column">We intend to take people all over the world to see the beauty of different nature
            appearances and to find out the seceret hidden inside nature</div>




    </div>
    <ul>
        <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
        <li><a href="https://github.com/rachael-amuge" class="fa fa-github" ></a></li>
        <li><a href="https://t.me/Rachael" class="fa fa-telegram"></a></li>

    </ul>
</div>


<hr>

{% endblock content %}