{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<h1>Our services</h1>
<p>Show casing some picture of nature</p>
<div class="row">
    <div class="col-3">
        <img src="{% static './css/images/birds.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/bugagali.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/yes.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/boat curise.jpeg' %}">
    </div>
</div>

<div class="row">
    <div class="col-3">
        <img src="{% static './css/images/crested.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/bwindi.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/drive.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/elepahants.jpeg' %}">
    </div>
</div>

<div class="row">
    <div class="col-3">
        <img src="{% static './css/images/equtor.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/gorilla trek.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/hiking.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/hipo.jpeg' %}">
    </div>
</div>

<div class="row">
    <div class="col-3">
        <img src="{% static './css/images/hotsprings.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/hotspri.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/lions.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/murchsion.jpeg' %}">
    </div>
</div>

<div class="row">
    <div class="col-3">
        <img src="{% static './css/images/park.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/rock mountain national.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/sipi.jpeg' %}">
    </div>

    <div class="col-3">
        <img src="{% static './css/images/travel.jpeg' %}">
    </div>
</div>
<!-- <div class="container"> 
    <div class="gallery">
        <img src="{% static './css/images/blossom.jpg' %}">

        <img src="{% static './css/images/blue.jpg' %}">

        <img src="{% static './css/images/contour.jpg' %}">

        <img src="{% static './css/images/download.jpeg' %}">

        <img src="{% static './css/images/download.jpg' %}">

        <img src="{% static './css/images/flower.jpg' %}">

        <img src="{% static './css/images/green.jpg' %}">

        <img src="{% static './css/images/house.jpg' %}">

        <img src="{% static './css/images/howdy.jpeg' %}">

        <img src="{% static './css/images/landscape.jpg' %}">

        <img src="{% static './css/images/mixture.jpg' %}">

        <img src="{% static './css/images/twigs.jpg' %}">

        <img src="{% static './css/images/nature.jpg' %}">

        <img src="{% static './css/images/stoney.jpg' %}">

        <img src="{% static './css/images/were.jpg' %}">

        <img src="{% static './css/images/shadow.jpg' %}">

        <img src="{% static './css/images/way.jpg' %}">

        <img src="{% static './css/images/blue.jpg' %}">

        <img src="{% static './css/images/green.jpg' %}">

        <img src="{% static './css/images/tree.jpg' %}">
    </div>
</div>-->

{% endblock content %}